@font-face {
  font-family: "Abel";
  src: url("../fontawesome-free-5.10.2-web/css/all.css");
}
@font-face {
  font-family: "Abel";
  src: url("../fontawesome-free-5.10.2-web/css/all.css");
}
@font-face {
  font-family: "Abel";
  src: url("../fontawesome-free-5.10.2-web/css/all.css");
}

@font-face {
  font-family: "Abel";
  src: url("../fontawesome-free-5.10.2-web/css/all.css");
}
