@import url("../css/fonts.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {

  /* Theme colors */
  --text-gray:#3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --sky: lightblue;

  /* gradient color  */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)

  /* theme font-family */
  --Abel:'Abel',cursive;
}

/*------------Global clases----------*/
a {
  text-decoration: none;
  color: var(--text-gray)
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--text-gray)
}
ul {
  list-style-type: none;
}

h1 {
  font-family: 'Gill Sans';
  font-size: 1.3rem;

}
h3 {
  font-family: 'Trebuchet MS';
  font-size: 1.3rem;
}
button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-family: Arial;
  font-size: 1rem;
  cursor: pointer;
  
}

span {
  font-family: Verdana;
}
.container {
  margin: 0 5vw
}
.text-gray {
  color: #3f4954;
}
p{
  font-family: 'Times New Roman';
  color: darkcyan
}

/*------------Global clases----end------*/



/*-----------------navbar---------*/

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 9vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse{
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icon i{
  font-size: 1.4rem;
  color: var(--text-gray);
}
.collapse{
  height: 30rem;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Franklin Gothic Medium";
  font-size: 1.1rem
}
.nav .nav-items .nav-link:hover {
  background-color: var(--midnight)
}
.nav .nav-items .nav-link:hover a {
color: var(--white)
}



.nav .nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: "Franklin Gothic Medium";
  font-size: 1.6rem
}

.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0.2rem;
}

.nav .social i:hover{
  color: #a1c4cf;
}

/* ----------------*navbar end ---------*/


/* ----------------*Main Content ---------*/


/*----------------Site title---------------*/

main .site-title{
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: var(--white)
}

main .site-title h1, h3 {
  margin: 0.3rem
}

main .site-title .btn{
  margin: 1.rem;
  background: lightblue
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid white;
  color: white

}
/*----------------Site title---End------------*/

/*-----Blog Carousel----*/

main .blog{
  background: url("../assets/Abract01.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%
}

main .blog .blog-post{
  padding: 6rem;

}
main .blog-post .blog-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2)
}

main .blog-content .blog-title{
  padding: 2rem 0;
}

main .blog-content .btn-blog{
  padding: 0.7rem 2rem;
  background: lightblue;
  margin: 0.5rem
}
main .blog-content span{
  display: block;
}

section .container .owl-nav{

  top: 0%;
  margin: 0 auto;
  width: 100%
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-prev .owl-nav-next{
  color: #145A32;
  background: transparent;
  font-size: 2rem
}
.owl-theme .owl-nav[class *='owl']:hover{
  background: transparent;
  color: #9B59B6;

}
.owl-theme .owl-nav[class *='owl']{
  outline: none;
}


/*-----Blog Carousel----End---*/

 /*----------Site Content------*/

main .site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

main .post-content {
  width: 100%;
  margin-bottom: 5rem;

}

main .site-content .post-content > .post-image, .post-title{
  padding: 1rem 2rem;
  position: relative;
}
main .site-content .post-content > .post-image .post-info{
  background: lightblue;
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 10vw;
  border-radius: 3rem;
  
}

 main .site-content .post-content > .post-image >div {
   overflow: hidden;
 }
 main .site-content .post-content > .post-image .img{
   width: 100%;
   transition: all 1s ease-in-out
 }
 main .site-content .post-content > .post-image .img:hover{
   transform: scale(1.2)
 }

 main .site-content .post-content > .post-image .post-info span {
   margin: 0.5 rem
 }
main .post-content .post-title a {
  font-family: Georgia;
  font-size: 1.5rem

}

.site-content .post-content .post-title .post-btn{
  border-radius: 0;

  padding: 0.7rem 1.5rem;
  background: #a1c4cf
}

/*----------Site Content---end---*/

/* ----------------*Main Content   end---------*/

/*-------------Viewport less then or equal to 750px -------*/

@media only screen and (max-width: 750px) {
  .nav .nav-menu, .nav .nav-items{
     flex-direction: column
  }

  .nav .toggle-collapse{
    display: inline;
  }
}

/*-------------Viewport less then or equal to 750px end -------*/