html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*------------Global clases----------*/
a {
  text-decoration: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}

/*-----------------navbar---------*/

.nav {
  background: wheat;
  padding: 0 2rem;
  height: 0ren;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
}

.nav .nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
}

.nav .social {
  padding: 1.4rem 0;
}
